<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classic Courier</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>

	{{{ body }}}
	
	<!-- Bootstrap Core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/contact-signup.js"></script>

</body>

</html>