{{> nav }}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
		    <h1>About Us</h1>
		    <hr>
		    <br>
		    <div class="col-md-4">
        		<img src="/images/box.png" class="img-fluid screen_img">
        	</div> 
        	<div class="col-md-8">
		    <p>Almost every day in Hollywood, and throughout Los Angeles and Orange County another <strong>Classic Couriers </strong> performance is applauded by satisfied clients such as PARAMOUNT, TWENTIETH CENTURY FOX, THE WALT DISNEY COMPANY, VIACOM, CBS, BIG TICKET TELEVISION, LA CENTER STUDIOS, DIET DESIGNS, HOLLYWOOD REPORTER, HOLLYWOOD CHAMBER, and others. Our success grows out of a commitment by each of our drivers and staff to provide fast, accurate service.</p>
		    <br>
			<p>Classic Couriers drivers are professional, uniformed and ready to meet your exact requests with courtesy and efficiency. All drivers are hired for their prior experience and trained in the unique needs of the television and motion picture industry. Our drivers have been thoroughly screened for background and drug use.</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			</div>
        </div>
    </div>
</div>


{{> footer }}

