 {{> nav }}
 <!-- Full Width Image Header with Logo -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="images/logo-cc.png" alt="Classic Couriers Logo">
    </header>
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>The Classic Courier Service</h1>
                    <hr>
                    <p class="lead section-lead">Proven Fast and Reliable Since 1982</p>
                    <p class="section-paragraph">We’re proud to be a customer service based organization in the courier and messenger industry. Our company is driven by highly motivated employees dedicated to giving you the best service, on time and to your exact instructions. It is a company wide effort to assure the success of your delivery.</p>
                </div>
                <img src="/images/train-821500_1920.jpg" class="img-fluid screen_img" alt="Hero image">
                <br>
                <div class="container-fluid bg-grey">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <br>
                            <h2>Classic Couriers provides many services to many industries that all benefit from the following:</h2>
                            <ul>
                                <li>Courier delivery service is available 24 hours a day/ 365 days a year</li>
                                <li>Secure delivery pouch to keep your valuable items protected</li>
                                <li>Real-time delivery status tracking</li>
                                <li>Airport parcel pick-up and drop-off (TSA approved courier)</li>
                                <li>Wireless dispatch system to improve pick-up and delivery times</li>
                                <li>Legal document transportation and signature authorization</li>
                                <li>Confidential messenger services when privacy is desired</li>
                                <li>Promotional deliveries for business and entertainment accounts</li>
                                <br>
                                <br>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services start -->
    <div id="services" class="container-fluid text-center services_bg">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2 class="services_header">SERVICES</h2>
                <br>
                <div class="row slideanim">
                    <div class="col-sm-4">
                        <img class="icon-img" src="/images/film_icon.png">
                        <h4 class="icon-sub">Entertainment</h4>
                    </div>
                    <div class="col-sm-4">
                        <img class="icon-img" src="/images/legal_icon.png">
                        <h4 class="icon-sub">Legal</h4>
                    </div>
                    <div class="col-sm-4">
                        <img class="icon-img" src="/images/health_icon.png">
                        <h4 class="icon-sub">Medical</h4>
                    </div>
                </div>
                <br>
                <br>
                <div class="row slideanim">
                    <div class="col-sm-4">
                        <img class="icon-img" src="/images/plane_icon.png">
                        <h4 class="icon-sub">Airport Delivery</h4>
                    </div>
                    <div class="col-sm-4">
                        <img class="icon-img" src="/images/weekend_icon.png">
                        <h4 class="icon-sub">Weekend Services</h4>
                    </div>
                    <div class="col-sm-4">
                        <img class="icon-img" src="images/certificate_icon.png">
                        <h4 class="icon-sub">Certifications</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <aside class="image-bg-fixed-height">
        <br>
        <h1 class="tagline">FAST. EASY. RELIABLE.</h1>
        <br>
    </aside>
    <!-- Customer Comments Section -->
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <br>
        <h2>What our customers say</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
                </div>
                <div class="item">
                    <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
                </div>
                <div class="item">
                    <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
        <br>
    </div>
    <!-- Footer -->
 {{> footer }}