 {{> nav }}
 <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="images/logo-cc.png" alt="Classic Couriers Logo">
    </header>
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">The Classic Courier Service</h1>
                    <hr>
                    <p class="lead section-lead">Proven Fast and Reliable Since 1982</p>
                    <p class="section-paragraph">We’re proud to be a customer service based organization in the courier and messenger industry. Our company is  driven by highly motivated employees dedicated to giving you the best service, on time and to your exact instructions. It is a company wide effort to assure the success of your delivery.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Section Heading</h1>
                    <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Footer -->
 {{> footer }}