{{> nav }}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
		    <h1>Services</h1>
		    <hr>
		    <br>
		    <div class="col-md-12">
        		<img src="/images/city_img.jpg" class="img-fluid screen_img">
        	</div>
        	<div class="col-md-12">
        	<br>
            <h2>Classic Couriers provides many services to many industries:</h2>
            	<ul>
                	<li>Courier delivery service is available 24 hours a day/ 365 days a year</li>
                	<li>Secure delivery pouch to keep your valuable items protected</li>
                	<li>Real-time delivery status tracking</li>
                	<li>Airport parcel pick-up and drop-off (TSA approved courier)</li>
                	<li>Wireless dispatch system to improve pick-up and delivery times</li>
                	<li>Legal document transportation and signature authorization</li>
                	<li>Confidential messenger services when privacy is desired</li>
                	<li>Promotional deliveries for business and entertainment accounts</li>
                </ul>
			<br>
			<br>
			<br>
			<br>
			<br>
			</div>
        </div>
    </div>
</div>


{{> footer }}