{{> nav }}

<div id="registration-container" class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h2 class="dark-grey">Registration</h2>
				
				<div id="company-form" class="form-group col-lg-12">
					<label>Company</label>
					<input type="" name="" class="form-control" id="company-input">
					<small id="company-feedback" class=""></small>
				</div>
				
				<div id="name-form" class="form-group col-lg-12">
					<label>Name</label>
					<input type="name" name="" class="form-control" id="name-input">
					<small id="name-feedback" class=""></small>
				</div>

				<div id="address-form" class="form-group col-lg-12">
					<label>Address</label>
					<input type="" name="" class="form-control" id="address-input">
					<small id="address-feedback" class=""></small>
				</div>
				
				<div id="city-form" class="form-group col-lg-12">
					<label>City</label>
					<input type="" name="" class="form-control" id="city-input">
					<small id="city-feedback" class=""></small>
				</div>

				<div id="state-form" class="form-group col-lg-12">
					<label>State</label>
					<input type="" name="" class="form-control" id="state-input">
					<small id="state-feedback" class=""></small>
				</div>

				<div id="zip-form" class="form-group col-lg-12">
					<label>Zip Code</label>
					<input type="" name="" class="form-control" id="zip-input">
					<small id="zip-feedback" class=""></small>
				</div>

				<div id="telephone-form" class="form-group col-lg-12">
					<label>Telephone</label>
					<input type="" name="" class="form-control" id="telephone-input">
					<small id="telephone-feedback" class=""></small>
				</div>

				<div id="fax-form" class="form-group col-lg-12">
					<label>Fax</label>
					<input type="" name="" class="form-control" id="fax-input">
					<small id="fax-feedback" class=""></small>
				</div>
								
				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">

				  <p id="email-feedback" class=""></p>
				  <small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>
				
				<div id="email-repeat-form" class="form-group col-lg-12">
					<label>Repeat Email Address</label>
					<input type="email" name="" class="form-control" id="repeat-email-input" value="">
					<small id="email-repeat-feedback" class=""></small>
				</div>			
				
				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Sigh up for our newsletter
				</div>

				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Send notifications to this email
				</div>				
			
			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to The Company's' Terms and Conditions
				</p>
				<p>
					While rare, prices are subject to change based on exchange rate fluctuations - 
					should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
				</p>
				<p>
					Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
				</p>
				<p>
					Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
				</p>
				
				<button id="signup-submit" type="submit" class="btn btn-primary signup">Register</button>
			</div>
		</div>
	</section>
</div>

{{> footer_login }}